<h1>Fake PDF Scanner</h1>
<h2>For when you absolutely MUST print, sign and scan a document</h2>
<p class="center">Upload your document to transport it back in time to the 90s</br>Perfect for sending unimportant documents to old corporate types that are set in their ways.</p>
<p class="center">Fake PDF scanner gives your file that legitimate, hardcopy paper feeling</p>
<div id="scanner">

  <div id="select" onclick="document.getElementById('myfile').click()">Choose PDF</div>
  <div id="fileName"></div>
  <div id="fileSize"></div>
  <div id="fileType"></div>
  <div id="progessNumber"></div>

  <form id="form1" enctype="multipart/form-data" method="post" action="/upload" hidden>
    <input type="file" name="myfile" id="myfile" onchange="fileSelected(); uploadFile()"><br>
  </form>

  <% if session[:notice] %>
    <div class="warning"><%= session[:notice] %></div>
    <% session[:notice] = nil %>
  <% end %>

</div>
<p class="center">Privacy Note: Files are deleted from our server immediately after you download</p>
<p class="center">Questions? Comments? Compliments? Hit me up on twitter <a href="https://twitter.com/patmood">@patmood</a></p>
