<h1>Fake PDF Scanner</h1>
<h2>For when you absolutely <em>MUST</em> print, sign and scan a document</h2>
<p class="center">Upload your document to transport it back in time to the 90s</br>Perfect for sending unimportant documents to old corporate types that are set in their ways.</p>
<p class="center">Fake PDF scanner gives your file that legitimate, hardcopy paper feeling</p>
<div id="scanner">

  <div id="select" onclick="document.getElementById('myfile').click()">Choose File to Scan</div>
  <div id="progress">
    <div id="bar">
      <div id="progessNumber"></div>
    </div>
  </div>

  <form id="form1" enctype="multipart/form-data" method="post" action="/upload" hidden>
    <input type="file" name="myfile" id="myfile" onchange="fileSelected()"><br>
  </form>

</div>
<p class="center">Don't have a document? Check out this <a href="scanned_look_example.pdf" target="_blank">before</a> and <a href="scanned_look_example-scanned.pdf">after</a> example</p>
<p class="center">Questions, comments, compliments - Hit me up on twitter <a href="https://twitter.com/patmood">@patmood</a></p>
<p class="fine-print"><strong>Privacy Note:</strong> Files are deleted from the server immediately after you download the file<br>
<strong>Legal Note:</strong> lol</p>
