<h1>Pat's PDF Thing</h1>

<div id="scanner">
  <div id="select">Choose File</div>
  <form action="/upload" method="post" enctype="multipart/form-data" id="uploader" hidden>
    <input type="file" name="myfile">
  </form>
</div>
