extends layout

block content
  h1= title
  h2 For when you absolutely MUST print, sign and scan a document
  p Upload your document to transport it back in time to the 90s
  p Perfect for sending unimportant documents to old corporate types that are set in their ways.
  p Fake PDF scanner gives your file that legitimate, hardcopy paper feeling

  #select Choose File to Scan
  #progress
    #bar
      #progressNumber

  form(method="post", action="/upload", enctype="multipart/form-data", hidden="hidden")
    input(type="file", name="scanMe" id="myfile")
    button(type="submit") Upload!

  script(src="javascripts/application.js")
