<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fake Online PDF Scanner</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/application.css">
  <script src="js/application.js"></script>
</head>
<body>
  <div class="processing">
    <h2>Processing...</h2>
    <div class="gears">
      <div id="gear-small"></div>
      <div id="gear-large"></div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=9384309;
  var sc_invisible=1;
  var sc_security="73f19407";
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="web analytics"
  href="http://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="http://c.statcounter.com/9384309/0/73f19407/1/"
  alt="web analytics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->

</body>
</html>
