@import url(http://fonts.googleapis.com/css?family=Francois+One);

h1, h2 {
  font-family: 'Francois One', sans-serif;
  color: #222;
  text-align: center;
  margin: 0.2em;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 72px;
}

h2 {
  font-weight: normal;
  font-size: 32px;
}

.center { text-align: center; }
.center img { margin: auto; }
.container { padding: 10px;}

#scanner {
  max-width: 500px;
  min-height: 300px;
  padding-top: 50px;
  margin: auto;
  background:url('../images/scanner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#select {
  font-size: 24px;
  width: 50%;
  margin: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5%;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.notice {
  text-align: center;
  padding: 10px;
  background: #FFB5B5;
  border: solid 1px #FF0000;
  border-radius: 5px;
}
