body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
h1, h2, h3 {
  line-height: 1.1em;
  letter-spacing: normal;
  color: #222;
}
h1 { font-weight: 900; }
h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
}
h3 {
  letter-spacing: -0.02em;
  font-weight: 500;
}
p {
  line-height: 1.5em;
  margin-bottom: 0px;
  font-size: 16px;
  color: #444;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}
button, .button {
  background-color: #95a5a6;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  padding: 0.3em 1em;
}
button:hover, .button:hover { background-color: #7f8c8d; }

.center img { margin: auto; }
.container {
  margin: 10px auto;
  padding: 10px;
  position: relative;
  border: solid 1px #999;
  border-radius: 10px;
  max-width: 700px;
}

#scanner {
  max-width: 500px;
  min-height: 300px;
  padding-top: 50px;
  margin: auto;
  background:url('../images/scanner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#select {
  font-size: 24px;
  width: 50%;
  margin: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5%;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.warning {
  text-align: center;
  padding: 10px;
  background: #FFB5B5;
  border: solid 1px #FF0000;
  border-radius: 5px;
  margin: 20px;
}
.success {
  text-align: center;
  padding: 10px;
  background: #A9EEB1;
  border: solid 1px #36C246;
  border-radius: 5px;
  margin: 20px;
}
#progress {
  width: 400px;
  height: 20px;
  border-radius: 5px;
  border: solid 1px #666;
  margin: 10px auto;
  background-color: #fff;
  padding: 2px;
  display: none;
}
#bar {
  height: 100%;
  background-color: #FF0000;
  border-radius: 5px;
}
#progessNumber {
  margin: 0 5px;
  text-align: right;
  color: #fff;
}
#processing {
  display: none;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 90;
}
#processing h2 {
  color: #fff;
}
.gears {
    height: 140px;
    width: 177px;
    position: relative;
    margin: auto;
}
#gear-small{
    height: 65px;
    width: 65px;
    position: absolute;
    left: 0;
    top: 75px;
}
#gear-small:before {
    content: '';
    background: url("../images/gear_small.png") no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: spinrev 4000ms linear infinite;
    -moz-animation: spinrev 4000ms linear infinite;
    -ms-animation: spinrev 4000ms linear infinite;
    animation: spinrev 4000ms linear infinite;
}
#gear-large{
    height: 127px;
    width: 127px;
    position: absolute;
    left: 50px;
    top: 0;
}
#gear-large:before {
    content: '';
    background: url("../images/gear_large.png") no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: spin 4000ms linear infinite;
    -moz-animation: spin 4000ms linear infinite;
    -ms-animation: spin 4000ms linear infinite;
    animation: spin 4000ms linear infinite;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@-ms-keyframes spinrev {
  from { -ms-transform: rotate(360deg); }
  to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spinrev {
  from { -moz-transform: rotate(360deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spinrev {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes spinrev {
  from { transform:rotate(360deg); }
  to { transform:rotate(0deg); }
}
